<!-- Navigation Bar Template -->
<nav class="navbar navbar-default">
    <div class="navbar-header"></div>

    <div>
        <a class="hidden-xs navbar-brand" href="/"><img style="max-width:50px;margin-top:-2px;opacity:0.5;" alt="{{ site.title }}" src="images/Leaf3.png"></a>
    </div>


    <ul class="nav navbar-nav">
        <li class="site-name">
            <a href="/" >{{ site.title }}</a>
        </li>
        <p class="site-slogan hidden-sm hidden-xs text-center">{{ site.tagline }}</p>
    </ul>

    <button type="button" class="navbar-toggle collapsed navbar-left" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="fa fa-info-circle"></span>
        <span>Learn More</span>
    </button>

    <div class="navbar-collapse collapse" id="navbar-collapse-1">
        <div id="pmNavbarRight">
            <ul class="nav navbar-nav navbar-right">

                <li><a class="navlinkitem" href="/about.html" data-toggle="collapose" data-target="#navbar-collapse-1">About Me</a></li>
                <li><a class="navlinkitem" href="/holistic-counseling.html" data-toggle="collapose" data-target="#navbar-collapse-1">Holistic Counseling</a></li>
                <li><a class="navlinkitem" href="/life-coaching.html" data-toggle="collapose" data-target="#navbar-collapse-1">Life Coaching</a></li>
                <li><a class="navlinkitem" href="/contact.html" data-toggle="collapose" data-target="#navbar-collapse-1">Contact &amp; Forms</a></li>

            </ul>

        </div>
    </div>






</nav>




<!-- End Navigation Bar -->
